@font-face {
  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Blinker-Regular.woff2") format("woff2"),
    url("../fonts/Blinker-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Coolvetica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Coolvetica-Bold.woff2") format("woff2"),
    url("../fonts/Coolvetica-Bold.woff") format("woff");
  font-display: swap;
}