%coolvetica-700 {
  font-family: "Coolvetica", sans-serif;
  font-weight: 700;
}

%blinker-400 {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
}

// color

$primary: #1c2121;
$accent: #24fae0;

$dark: #1c2121;

$black: #0b0e0e;

$gray: #8d9297;

$red: #F2294D;
